# Logentries tokens
# This token is used to associate log files in AWS S3 to a log in your Logentries account.
log_token=""

# Some config determining what to send in logs
send_body=False
size_as_mb=True

# Describe the log name, helpful for grouping logs. Defaults to backup-activity
log_type_name="backup-activity"
